<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>MacUIRequiredDeviceCapabilities</key>
	<dict>
		<key>arm64</key>
		<true/>
	</dict>
	<key>UIRequiredDeviceCapabilities</key>
	<dict>
		<key>arm64</key>
		<true/>
	</dict>
	<key>WKRunsIndependentlyOfCompanionApp</key>
	<false/>
	<key>WKWatchOnly</key>
	<false/>
	<key>apple-id</key>
	<string>reyesjustin474@icloud.com</string>
	<key>appleWatchEnabled</key>
	<true/>
	<key>artistId</key>
	<integer>412050330</integer>
	<key>artistName</key>
	<string>Edupoint Educational Systems</string>
	<key>asset-info</key>
	<dict>
		<key>file-size</key>
		<integer>39813786</integer>
		<key>flavor</key>
		<string>10:purple</string>
	</dict>
	<key>bundleDisplayName</key>
	<string>StudentVUE</string>
	<key>bundleShortVersionString</key>
	<string>11.0</string>
	<key>bundleVersion</key>
	<string>11.0.48</string>
	<key>copyright</key>
	<string>© Edupoint Educational Systems</string>
	<key>drmVersionNumber</key>
	<integer>0</integer>
	<key>fileExtension</key>
	<string>.app</string>
	<key>gameCenterEnabled</key>
	<false/>
	<key>gameCenterEverEnabled</key>
	<false/>
	<key>genre</key>
	<string>Education</string>
	<key>genreId</key>
	<integer>6017</integer>
	<key>hasOrEverHasHadIAP</key>
	<false/>
	<key>ipaInstallPath</key>
	<string>/var/folders/tz/j0hdyxr96452fn_g5fqrn8jm0000gn/T/com.apple.configurator.xpc.InternetService/TemporaryItems/MobileApps/412050327/FF5FB451-2084-4684-97D6-BDCD4DAC7892</string>
	<key>is-purchased-redownload</key>
	<true/>
	<key>itemId</key>
	<integer>412050327</integer>
	<key>itemName</key>
	<string>StudentVUE</string>
	<key>kind</key>
	<string>software</string>
	<key>playlistName</key>
	<string>Edupoint Educational Systems</string>
	<key>product-type</key>
	<string>ios-app</string>
	<key>purchaseDate</key>
	<string></string>
	<key>rating</key>
	<dict>
		<key>content</key>
		<string>Advisory.NO.UNRESTRICTED_WEB_ACCESS , Advisory.NO.TRUE_GAMBLING and Advisory.NO.GAMBLING_CONTESTS</string>
		<key>label</key>
		<string>4+</string>
		<key>rank</key>
		<integer>100</integer>
		<key>system</key>
		<string>itunes-games</string>
	</dict>
	<key>releaseDate</key>
	<string>2010-12-30T01:42:28Z</string>
	<key>requiresRosetta</key>
	<false/>
	<key>runsOnAppleSilicon</key>
	<true/>
	<key>runsOnIntel</key>
	<false/>
	<key>s</key>
	<integer>143441</integer>
	<key>software-platform</key>
	<string>ios</string>
	<key>softwareIcon57x57URL</key>
	<string>https://is2-ssl.mzstatic.com/image/thumb/Purple126/v4/21/d3/56/21d356a7-5866-0be9-47d8-61d0b2c9f2e6/AppIcon-1x_U007emarketing-0-10-0-85-220.png/114x114bb.jpg</string>
	<key>softwareIconNeedsShine</key>
	<false/>
	<key>softwareSupportedDeviceIds</key>
	<array>
		<integer>2</integer>
		<integer>9</integer>
		<integer>4</integer>
	</array>
	<key>softwareVersionBundleId</key>
	<string>com.edupoint.StudentVUE</string>
	<key>softwareVersionExternalIdentifier</key>
	<integer>857172995</integer>
	<key>softwareVersionExternalIdentifiers</key>
	<array>
		<integer>3281774</integer>
		<integer>3879079</integer>
		<integer>4039378</integer>
		<integer>4104401</integer>
		<integer>5378573</integer>
		<integer>6234405</integer>
		<integer>6878664</integer>
		<integer>7064844</integer>
		<integer>8188232</integer>
		<integer>11222852</integer>
		<integer>12205439</integer>
		<integer>13328409</integer>
		<integer>13665893</integer>
		<integer>14021169</integer>
		<integer>14359866</integer>
		<integer>15000240</integer>
		<integer>15557990</integer>
		<integer>52032655</integer>
		<integer>125562633</integer>
		<integer>567342074</integer>
		<integer>634532675</integer>
		<integer>692004270</integer>
		<integer>715415776</integer>
		<integer>734966032</integer>
		<integer>811401691</integer>
		<integer>812455512</integer>
		<integer>812957712</integer>
		<integer>813239940</integer>
		<integer>813855181</integer>
		<integer>813900155</integer>
		<integer>814035441</integer>
		<integer>816810846</integer>
		<integer>817468842</integer>
		<integer>818416482</integer>
		<integer>820069210</integer>
		<integer>822361957</integer>
		<integer>822964881</integer>
		<integer>823328410</integer>
		<integer>825406330</integer>
		<integer>825709644</integer>
		<integer>826770013</integer>
		<integer>827198818</integer>
		<integer>827519147</integer>
		<integer>827982305</integer>
		<integer>828151237</integer>
		<integer>828640269</integer>
		<integer>829717324</integer>
		<integer>830416141</integer>
		<integer>831938913</integer>
		<integer>832188158</integer>
		<integer>833327465</integer>
		<integer>833771388</integer>
		<integer>835698554</integer>
		<integer>837019899</integer>
		<integer>837419749</integer>
		<integer>838303247</integer>
		<integer>839733739</integer>
		<integer>841328168</integer>
		<integer>843867175</integer>
		<integer>846449081</integer>
		<integer>847529943</integer>
		<integer>848650178</integer>
		<integer>849008203</integer>
		<integer>849697517</integer>
		<integer>850788681</integer>
		<integer>851459328</integer>
		<integer>852512662</integer>
		<integer>853689327</integer>
		<integer>857172995</integer>
	</array>
	<key>userName</key>
	<string>reyesjustin474@icloud.com</string>
	<key>vendorId</key>
	<integer>372023</integer>
	<key>versionRestrictions</key>
	<integer>0</integer>
</dict>
</plist>
